/* common styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    
}
nav {
    background-color: #FFF8F3;
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #474747;
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
/* header styles */
.header {
    
    margin: auto;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #FFF8F3;

}
.banner {
    align-items: center;
    display: flex;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;

}
.banner-content {
    max-width: 500px;
}
.banner .profile-pic {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin: 0px;
}
.banner-title {
    font-size: 85px;
    font-style: normal;
    margin: 5px;
}
/* main section style*/
main {
    max-width: 1140px;
    margin: 0 auto;
    
}
.main section {
    margin-top: 130px;
}
.about {
    padding: 130px;
    border-radius: 100px;
    background: #FFF8F3;
    margin: 130px 0;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;   
}

/* what I Do styles */
.section-title {
    text-align: center;
    margin-bottom: 10px;
}

#What-I-Do-describtion {
    padding: 30px 150px;
    font-style:inherit;
    
}
.skills {
    padding: 33px;
    border-radius: 10px;
    background-color: #ffe498;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-container {
    display: flex;
    gap: 50px;
}
.skill-description {
    color: #757575;
    
}
/* Resume Section Styles */
.resume-clm-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    font-size: 40px;
}
.resume-container {
    display: flex;
    gap: 50px;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute,
.resume-item-description {
    color: #757575;
    font-style: oblique;
    font-size: small;
}

.resume-item-institute {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 20px ;
}
/* footer styles */
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column {
    width: 50%;
}
.social-links a {
    margin-right: 25px;
}

.contact input[type="text"],
.contact input[type="email"], 
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}